<div class="user-edit-container">
  <h2><%= @user.name %>のユーザ情報編集ページ</h2>
  
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <ul class="user-edit-form">
    <li class="">
      <%= f.label :name, 'ユーザ名', class: 'form-label-signup' %>
      <%= f.text_field :name, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :age, '年齢', class: 'form-label-signup' %>
      <%= f.select :age, (16..60), {}, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :prefecture_id, '出身地', class: 'form-label-signup' %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :hobby, 'Hobby', class: 'form-label-signup' %>
      <%= f.text_field :hobby, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :email, 'Email', class: 'form-label-signup' %>
      <%= f.email_field :email, class: 'form-area-signup' %>
    </li>
  </ul>
    <% if @user.persisted? && @user.image? %>
      <%= image_tag @user.image.to_s, :size => '200x200' %>
      <label><%= f.check_box :remove_image %> 画像を削除</label>
    <% else %>
      <%= f.hidden_field :image_cache %>
    <% end %>
      <%= f.file_field :image %>
  <div class="edit-btn-wrapper">    
    <%= f.submit '編集', class: 'edit-btn' %>
  </div>
  <% end %> 
</div>
