<div class="relationships-container">
  <h1><%= link_to @user.name, @user, class: 'user-name' %></h1>


  <ul class="relationships-nav">
    <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link active"><span class="badge badge-secondary"><%= @count_followings %></span>フォロー中</a></li>
    <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link"><span class="badge badge-secondary"><%= @count_followers %></span>フォロワー</a></li>
    <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link"><span class="badge badge-secondary"><%= @count_favorites %></span>お気に入り</a></li>
  </ul>

  <%= render 'users', users: @followings %>
</div>