<div class="signup-container">
  <h1>新規登録</h1>
  
  <%= form_with(model: @user, local: true) do |f| %>
  <div class="error-messages">
  <%= render 'layouts/error_messages', model: f.object %>
  </div>
  
  <ul class="signup-form">
    <li class="">
      <%= f.label :name, 'ユーザ名', class: 'form-label-signup' %>
      <%= f.text_field :name, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :age, '年齢', class: 'form-label-signup' %>
      <%= f.select :age, (16..60), {}, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :prefecture_id, '出身地', class: 'form-label-signup' %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :email, 'Email', class: 'form-label-signup' %>
      <%= f.email_field :email, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :password, 'パスワード', class: 'form-label-signup' %>
      <%= f.password_field :password, class: 'form-area-signup' %>
    </li>
    
    <li class="">
      <%= f.label :password_confirmation, '確認', class: 'form-label-signup' %>
      <%= f.password_field :password_confirmation, class: 'form-area-signup' %>
    </li>
  </ul>
  <%= f.submit 'Sign up', class: 'signup-btn' %>
  <% end %>
  <p>ログインは<%= link_to 'こちら', login_path, class: 'under-sign-login' %></p>
</div>

