<div class="user-information-container">
  <div class="user-detail-left">
    <div class="user-picture">
      <% if @user.image? %>
        <%= image_tag @user.image.to_s, :size => '80x80', class: 'mypage-article-img' %>
      <% else %>
        <%= image_tag 'human.jpg', :size => '80x80', class: 'mypage-article-img' %>
      <% end %>
    </div>
    
    <div class="user-detail-menu">
      <p>ユーザ名: <%= @user.name %></p>
      <p>年齢: <%= @user.age %></p>
      <p>メールアドレス: <%= @user.email %></p>
      <% if Prefecture.find_by(id: @user.prefecture_id) %>
        <p>出身地: <%= Prefecture.find_by(id: @user.prefecture_id).name %></p>
      <% else %>
        <p>出身地: none</p>
      <% end %>
      <div class="set-up">
        <div class="child">趣味: <%= @user.hobby %></div>
        <% if current_user == @user %>
        <div class="child">
          <a class="user-edit-btn"><%= link_to '編集', edit_user_path(@user), class: 'nav-link'%></a>
        </div>
        <% else %>
        <div class="child">
          <%= render 'relationships/follow_button', user: @user %>
        </div>
        <% end %>
      </div>
    
      
    </div>
    
    
    
  </div>
  
  <div class="user-detail-right">
    <div class="media-detail">
      <ul>
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link"><span class="badge"><%= @count_followings %></span>フォロー中</a></li>
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link"><span class="badge"><%= @count_followers %></span>フォロワー</a></li>
        <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link"><span class="badge"><%= @count_favorites %></span>お気に入り</a></li>
      </ul>
    </div>
    <% if current_user == @user %>
    <div class="withdrawal-page-btn">
      <a><%= link_to '退会ページ', withdrawal_user_path(@user), class: 'nav-link'%></a>
    </div>
    <% end %>
  </div>
</div>



<div>
  <%= render 'microposts/microposts', microposts: @user.microposts %>
</div>






