<% i=0 %>
<% j=0 %>
<% if logged_in? %>
  <% unless current_user.admin? %>
    <% if @user.microposts.any? %>
        <section style="padding: 20px 60px; background-image: url(<%= asset_path('message_box.png') %>); background-size: 100% 100%;">
          <h1 class="text-center">お知らせ</h1>
          <ul>
            <% @user.microposts.each do |post| %>
            <li><span><%= post.created_at.strftime("%Y/%m/%d") %>&nbsp;<%= post.content %></span></li>
            <% end %>
          </ul>
        </section>
      
    <% end %>
  
    <div class="container text-center" style="margin-top: 50px;">
      <h1>投稿お気に入りランキング</h1>
      <table class="table table-bordered">
        <% @favorite_ranks.each do |micropost| %>
        <% i=i+1 %>
    
          <thead>
            <% if i == 1 %>
            <tr>
              <th>順位</th>
              <th>ユーザ名</th>
              <th>内容</th>
              <th>お気に入り数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>第1位</td>
              <td><%= link_to micropost.user.name, micropost.user %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% elsif i == 2 %>
            <tr>
              <td>第2位</td>
              <td><%= link_to micropost.user.name, micropost.user %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% elsif i == 3 %>
            <tr>
              <td>第3位</td>
              <td><%= link_to micropost.user.name, micropost.user %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  
    <div class="container text-center" style="margin-top: 50px;">
      <h1>フォロワーランキング</h1>
      <table class="table table-bordered">
        <% @follower_ranks.each do |user| %>
        <% j=j+1 %>
    
          <thead>
            <% if j == 1 %>
            <tr>
              <th>順位</th>
              <th>ユーザ名</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>第1位</td>
              <td><%= link_to user.name, user %></td>
            </tr>
            <% elsif j == 2 %>
            <tr>
              <td>第2位</td>
              <td><%= link_to user.name, user %></td>
            </tr>
            <% elsif j == 3 %>
            <tr>
              <td>第3位</td>
              <td><%= link_to user.name, user %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    
    <% else %>
      <%= link_to '管理者用ページ', administrator_users_path, class: 'btn btn-block btn-primary' %>
      <%= link_to 'お知らせメッセージ一覧', administrator_microposts_path, class: 'btn btn-block btn-primary' %>
      <%= link_to 'お知らせ作成ページ', new_administrator_micropost_path, class: 'btn btn-block btn-primary' %>     
    <% end %>
    
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the PicextPosts</h1>
      <%= link_to 'Log in', login_path, class: 'btn btn-lg btn-primary' %></br></br>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
  
  <div class="container text-center" style="margin-top: 50px;">
    <h1>投稿お気に入りランキング</h1>
    <table class="table table-bordered">
      <% @favorite_ranks.each do |micropost| %>
      <% i=i+1 %>
    
        <thead>
          <% if i == 1 %>
          <tr>
            <th>順位</th>
            <th>内容</th>
            <th>お気に入り数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>第1位</td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% elsif i == 2 %>
          <tr>
            <td>第2位</td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% elsif i == 3 %>
          <tr>
            <td>第3位</td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>