<% i=0 %>
<% j=0 %>
<% if logged_in? %>
  <% unless current_user.admin? %>
    <% if @user.microposts.any? %>
        <div class="news-box">
          <h1 class="text-center">お知らせ</h1>
          <ul>
            <% @user.microposts.each do |post| %>
            <li><span><%= post.created_at.strftime("%Y/%m/%d")%></span><%= post.content%></li>
            <% end %>
          </ul>
        </div>
      
    <% end %>
  
    <div class="toppage-favorite">
      <h2>投稿お気に入りランキング</h2>
      <table class="favorite-table">
        <% @favorite_ranks.each do |micropost| %>
        <% i=i+1 %>
    
          <thead>
            <% if i == 1 %>
            <tr class="favorite-head">
              <th>順位</th>
              <th>ユーザ名</th>
              <th>内容</th>
              <th>お気に入り数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>第1位</td>
              <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% elsif i == 2 %>
            <tr>
              <td>第2位</td>
              <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% elsif i == 3 %>
            <tr>
              <td>第3位</td>
              <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
              <td><%= micropost.content %></td>
              <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  
    <div class="toppage-follower">
      <h2>フォロワーランキング</h2>
      <table class="follower-table">
        <% @follower_ranks.each do |user| %>
        <% j=j+1 %>
    
          <thead>
            <% if j == 1 %>
            <tr class="follower-head">
              <th>順位</th>
              <th>ユーザ名</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>第1位</td>
              <td><%= link_to user.name, user, class: 'user-name' %></td>
            </tr>
            <% elsif j == 2 %>
            <tr>
              <td>第2位</td>
              <td><%= link_to user.name, user, class: 'user-name' %></td>
            </tr>
            <% elsif j == 3 %>
            <tr>
              <td>第3位</td>
              <td><%= link_to user.name, user, class: 'user-name' %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    
    <% else %>
      <%= link_to '管理者用ページ', administrator_users_path, class: 'btn btn-block btn-primary' %>
      <%= link_to 'お知らせメッセージ一覧', administrator_microposts_path, class: 'btn btn-block btn-primary' %>
      <%= link_to 'お知らせ作成ページ', new_administrator_micropost_path, class: 'btn btn-block btn-primary' %>     
    <% end %>
    
<% else %>
  <div class="toppage-header">
    <h1>PicextPosts</h1>
    <div class="toppage-btn-container-top">
      <%= link_to 'ログイン', login_path, class: 'toppage-btn toppage-btn-left' %>
      <%= link_to '新規登録', signup_path, class: 'toppage-btn toppage-btn-right' %>
    </div>
    <div class="toppage-btn-container-bottom">
      <%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'toppage-btn toppage-btn-center' %>
    </div>
  </div>
  
  <div class="toppage-favorite">
    <h2>投稿お気に入りランキング</h2>
    <table class="favorite-table">
      <% @favorite_ranks.each do |micropost| %>
      <% i=i+1 %>
    
        <thead>
          <% if i == 1 %>
          <tr class="favorite-head">
            <th>順位</th>
            <th>ユーザ名</th>
            <th>内容</th>
            <th>お気に入り数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>第1位</td>
            <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% elsif i == 2 %>
          <tr>
            <td>第2位</td>
            <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% elsif i == 3 %>
          <tr>
            <td>第3位</td>
            <td><%= link_to micropost.user.name, micropost.user, class: 'user-name' %></td>
            <td><%= micropost.content %></td>
            <td><%= Favorite.where(micropost_id: micropost.id).count %></td>
          </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>