<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
  <li class="media mb-3">
    <% if micropost.user.image? %>
      <%= image_tag micropost.user.image.to_s, :size => '80x80', class: 'mypage-article-img' %>
    <% else %>
      <%= image_tag 'human.jpg', :size => '80x80', class: 'mypage-article-img' %>
    <% end %>
    <div class="media-body">
      <div>
        <%= link_to micropost.user.name, user_path(micropost.user) %><span class="text-muted">posted at <%= micropost.created_at %></span>
      </div>
      <div>
        <p><%= micropost.content %></p>
      </div>
      <div>
        <% if current_user == micropost.user %>
          <%= link_to "Delete", micropost, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger btn-sm' %>
        <% else %>
          <%= render 'favorites/favorite_button', micropost: micropost %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>