<header>
  <div class="logo">
    <a class="" href="/"><%= image_tag 'logo.png', :size => '80x60' %></a>
  </div>
  <div class="menu">
    <% if logged_in? %>
    <ul class="navbar-nav-in">
      <li class="list-item"><a href="#" class="nav-link">Menu</a>
        <ul class="">
          <li class="list-item"><%= link_to '投稿一覧', timeline_microposts_path, class: 'nav-link'  %></li>
          <li class="list-item"><%= link_to '新規投稿', newpost_path, class: 'nav-link'  %></li>
          <li class="list-item"><%= link_to 'ユーザ検索', search_path, class: 'nav-link'  %></li>            <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, class: 'nav-link',  method: :delete %></li>
        </ul>
      </li>
      <li class="list-item"><%= link_to 'プロフィール', user_path(current_user), class: 'nav-link' %></li>
    </ul>
    <% else %>
    <ul class="navbar-nav-out">
      <li class="list-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
      <li class="list-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
    </ul>  
    <% end %>
  </div>
</header>